{%extends 'inicio.html'%}

{% load static %}

{%block title%}Editar{%endblock%}

{% block styles %} 
    <link rel="stylesheet" href="{% static 'navegador.css' %}">
    <link rel="stylesheet" href="{% static 'inicio.css' %}">
    <link rel="stylesheet" href="{% static 'formularios.css' %}">
{% endblock %}

{%block content%}

<body class="body-editar">
    <div class="contenedor-registro">
        <form action="" method="post" class="formulario-registro">
            <h2 class="titulo-formulario">Editar</h2>
            {% csrf_token %}
            <div class="campos-formulario">
                {{ form }}
            </div>
            <input type="submit" value="Editar" class="boton-formulario">
        </form>
        
    </div>
</body>

{%endblock%}