{%extends 'inicio.html'%}
{% load static %}

{%block title%}Ver Perfil{%endblock%}

{% block styles %}
    <link rel="stylesheet" href="{% static 'menu/perfil.css' %}">
{% endblock %}


{%block content%}

    <div class="contenedor-perfil">
        <h2>Perfil</h2>

        <ul class="lista-datos">
            {% for i in ver %}
                <li><b>Nombre de Usuario:</b> {{ i.username }}</li>
                <li><b>Email:</b> {{ i.email }}</li>
            {% endfor %}
        </ul>

        <div class="botones-perfil">
            <a href="{% url 'editar' request.user.id %}" class="btn-perfil">Editar</a>
            <a href="{% url 'cambiar_password' request.user.id %}" class="btn-perfil">Cambiar Contraseña</a>
        </div>
    </div>

{%endblock%}
