<nav class="barra-navegacion">
    <a href="{%url 'inicio'%}" class="link-izquierda">Inicio</a>

    <a href="{%url 'lunes'%}" class="link-centro lunes">Lunes</a>
    <a href="{%url 'martes'%}" class="link-centro martes">Martes</a>
    <a href="{%url 'miercoles'%}" class="link-centro miercoles">Miercoles</a>
    <a href="{%url 'jueves'%}" class="link-centro jueves">Jueves</a>
    <a href="{%url 'viernes'%}" class="link-centro viernes">Viernes</a>
    <a href="{%url 'sabado'%}" class="link-centro sabado">Sábado</a>
    
    <a href="{% url 'salir' %}" class="link-derecha">Cerrar sesión</a>
</nav>